//- mobile filters popup
section.mobile-filters
  .mobile-filters__inner
    .mobile-filters__top
      .mobile-filters__name Фильтры
      .mobile-filters__close
        svg(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd", clip-rule="evenodd",
            d="M20.9999 0L24 3.00005L14.9998 12.0002L24 21.0004L20.9999 24.0004L8.99974 12.0002L20.9999 0Z",
            fill="#6B717E")
          path(fill-rule="evenodd", clip-rule="evenodd",
            d="M3.00005 0L0 3.00005L8.99974 12.0002L0 21.0004L3.00005 24.0004L14.9998 12.0002L3.00005 0Z",
            fill="#6B717E")

    .mobile-filters__content
      .mobile-filters__content-inner
        .custom-select.custom-select--modal
          select.custom-select__select
            option(value="1") Цена по возрастанию ↑
            option(value="2") Цена по убыванию ↓

        .custom-select.custom-select--modal
          select(data-placeholder="Коллекция", multiple).custom-select__select
            option(value="1") Коллекция №1
            option(value="2") Коллекция №2
        
        .custom-select.custom-select--modal
          select(data-placeholder="Цвет", multiple).custom-select__select.custom-select__select--colors
            option(value="green") Зеленый
            option(value="blue") Синий

        .custom-select.custom-select--modal
          select(data-placeholder="Формат").custom-select__select
            option
            option(value="1") Один
            option(value="2") Два
            option(value="3") Три

        .custom-select.custom-select--modal
          select(data-placeholder="Материал").custom-select__select
            option
            option(value="1") Автоматическая
            option(value="2") Неавтоматическая

    .mobile-filters__bottom
      button.mobile-filters__btn.mobile-filters__reset Сбросить
      button.mobile-filters__btn.mobile-filters__apply Применить

//- filters
section.featured-catalog
  .container
    h1 Каталог продукции
    button.featured-catalog__trigger Фильтры
      svg(width="16", height="16", viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
        path(
          d="M7.47613 15.6781C7.27002 15.8842 6.99048 16 6.69901 16C6.09204 16 5.6 15.508 5.6 14.901V7.9276L0.216548 1.51873C0.0766781 1.35222 0 1.14172 0 0.924255C0 0.413803 0.413803 0 0.924255 0H14.2718C14.7845 0 15.2 0.415549 15.2 0.928154C15.2 1.13891 15.1283 1.34339 14.9966 1.50797L9.86667 7.9204V11.3696C9.86667 12.5977 9.37882 13.7754 8.51045 14.6438L7.47613 15.6781ZM6.66667 14.9333H6.71243L8.8 12.8458V7.54627L13.9837 1.06667H1.23L6.66667 7.53907V14.9333Z",
          fill="#22262F")

    form.featured-catalog__filters
      .featured-catalog__selects

        .featured-catalog__select
          .custom-select
            select(data-placeholder="Коллекция", multiple).custom-select__select
              option(value="1") Коллекция №1
              option(value="2") Коллекция №2

        .featured-catalog__select
          .custom-select
            select(data-placeholder="Цвет", multiple).custom-select__select.custom-select__select--colors
              option(value="green") Зеленый
              option(value="blue") Синий

        .featured-catalog__select
          .custom-select
            select(data-placeholder="Формат").custom-select__select
              option
              option(value="1") Один
              option(value="2") Два
              option(value="3") Три


        .featured-catalog__select
          .custom-select
            select(data-placeholder="Материал").custom-select__select
              option
              option(value="1") Автоматическая
              option(value="2") Неавтоматическая

      .featured-catalog__sort
        .featured-catalog__sort-text Сортировать:
        .featured-catalog__sort-input
          .custom-select
            select.custom-select__select
              option(value="1") Цена по возрастанию ↑
              option(value="2") Цена по убыванию ↓

    //- items
    .featured-catalog__items
      a(href="#")
       .featured-catalog__item
          .featured-catalog__item-image
            img(src="img/catalog/image1.jpg", alt="")
          .featured-catalog__item-name Zip-пакет пластиковый ErichKrause® PVC Zip Pocket, A4
          .featured-catalog__item-price 13,90 руб.

      a(href="#")
        .featured-catalog__item
          .featured-catalog__item-image
            img(src="img/catalog/image1.jpg", alt="")
          .featured-catalog__item-name Zip-пакет пластиковый ErichKrause® PVC Zip Pocket, B5...
          .featured-catalog__item-price 78,20 руб.

      a(href="#").featured-catalog__item
        .featured-catalog__item-image
          img(src="img/catalog/image2.jpg", alt="")
        .featured-catalog__item-name Zip-пакет пластиковый ErichKrause® PVC Zip Pocket, A4
        .featured-catalog__item-price
          .featured-catalog__item-price-new 12,20 руб.
          .featured-catalog__item-price-old 13,90 руб.

      a(href="#").featured-catalog__item
        .featured-catalog__item-image
          img(src="img/catalog/image2.jpg", alt="")
        .featured-catalog__item-name Zip-пакет пластиковый ErichKrause® PVC Zip Pocket, A4
        .featured-catalog__item-price
          .featured-catalog__item-price-new 12,20 руб.
          .featured-catalog__item-price-old 13,90 руб.

      a(href="#")
       .featured-catalog__item
          .featured-catalog__item-image
            img(src="img/catalog/image1.jpg", alt="")
          .featured-catalog__item-name Zip-пакет пластиковый ErichKrause® PVC Zip Pocket, A4
          .featured-catalog__item-price 13,90 руб.

      a(href="#")
        .featured-catalog__item
          .featured-catalog__item-image
            img(src="img/catalog/image1.jpg", alt="")
          .featured-catalog__item-name Zip-пакет пластиковый ErichKrause® PVC Zip Pocket, B5...
          .featured-catalog__item-price 78,20 руб.

      a(href="#")
       .featured-catalog__item
          .featured-catalog__item-image
            img(src="img/catalog/image1.jpg", alt="")
          .featured-catalog__item-name Zip-пакет пластиковый ErichKrause® PVC Zip Pocket, A4
          .featured-catalog__item-price 13,90 руб.

      a(href="#")
        .featured-catalog__item
          .featured-catalog__item-image
            img(src="img/catalog/image1.jpg", alt="")
          .featured-catalog__item-name Zip-пакет пластиковый ErichKrause® PVC Zip Pocket, B5...
          .featured-catalog__item-price 78,20 руб.


      